<style type="text/css">
.w3-container{padding:0.01em 16px}
.w3-margin-right{margin-right:16px!important}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-light-grey{color:#000!important;background-color:#f1f1f1!important}
.w3-card-4{border: 0.5px solid #34495E; margin-bottom: 10px;}
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}
</style>


<div class="col-md-12">
    <div class="col-md-6">
      <div class="row box-shadow" >
        <rt-widget-header title="Nosotros"></rt-widget-header>      
        <div class="col-md-12 configBody" style="height: 597px; overflow: auto;">
          <div class="w3-container" ng-repeat="a in vm.datos">
            <div class="w3-card-4" style="width:100%;cursor: pointer;" ng-click="vm.ver(a.id)">
              <header class="w3-container w3-light-grey">
                <h5>{{a.titulo}}</h5>
              </header>
              <div class="w3-container">
                <img ng-if="!a.blob" src="galeria/nosotros/{{a.imagen}}" width="200px" class="w3-left w3-margin-right" style="height: 200px">
                <img ng-if="a.blob" src="{{a.blob}}" width="200px" class="w3-left w3-margin-right" style="height: 200px">
                <p>{{a.descripcion.substring(0,400)+'...'}}</p><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" >
      <div class="row box-shadow">
        <rt-widget-header title="Descripcion"></rt-widget-header>
          <div class="col-md-12">
            <div class="col-md-12">
              <rt-form-button 
                buttons="vm.buttons"
                updates="vm.updates"
                new-button="vm.nuevo()" 
                edit-button="vm.editar()" 
                delete-button="vm.eliminar()">
              </rt-form-button>
            </div> 
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <fieldset ng-disabled="vm.updates.disabled">
                <rt-image-file publicacion="vm.publicacion" state="vm.state" alto="height250px" carpeta="'NOSOTROS'" tabla="'h_nosotros'"></rt-image-file>
              </fieldset>
            </div>
            <div class="col-md-6 configBody" style="height: 480px; overflow: auto;">
              <form class="formulario" name="formulario">
                <fieldset ng-disabled="vm.updates.disabled">
                  <rt-form-file dato="vm.publicacion"></rt-form-file>
                </fieldset>
              </form>
            </div>         
          </div>
       
        <div class="col-md-12">
          <div class="panel-body">
            <center>
                <button type="submit" ng-click="vm.guardar(formulario.$valid)" class="blue-bottom button-4"><i class="fa fa-check" aria-hidden="true"></i><span >Guardar</span></button> 
                <a ng-click="vm.cancelar(vm.publicacion)" class="blue-bottom button-4"><i class="fa fa-times" aria-hidden="true"></i>Cancelar</a>
            </center>  
          </div>  
        </div>
      </div>
    </div>

</div>
