

<div class="col-md-6" >
  <div class="row box-shadow">
    <rt-widget-header title="Descripcion"></rt-widget-header>
      <div class="col-md-12">
        <div class="col-md-12">
          <rt-form-button 
            buttons="vm.buttons"
            updates="vm.updates"
            new-button="vm.nuevo()" 
            edit-button="vm.editar()" 
            delete-button="vm.eliminar()">
          </rt-form-button>
        </div> 
      </div>
      <div class="col-md-12 configBody" style="height: 520px; overflow: auto;">
        <div class="row" ng-show="vm.state==undefined">
        <div class="col-lg-12">
          <canvas width="700" height="300" id="canvas" image-cropper image="vm.cropper.sourceImage" cropped-image="vm.cropper.croppedImage" crop-width="1200" crop-height="400" min-width="100" min-height="50" keep-aspect="true" crop-area-bounds="vm.bounds"></canvas>
        </div>
      </div>
        <div class="col-md-12">
          <fieldset ng-disabled="vm.updates.disabled">
            <rt-image-file publicacion="vm.publicacion" state="vm.state" alto="height300px" cropper="vm.cropper" tabla="'h_slide'" carpeta="'SLIDE'"></rt-image-file>
          </fieldset>
        </div>
        <div class="col-md-12">
          <form class="formulario" name="formulario">
            <fieldset ng-disabled="vm.updates.disabled">
              <rt-form-file dato="vm.publicacion"></rt-form-file>
            </fieldset>
          </form>
        </div>         
      </div>
   
    <div class="col-md-12">
        <center>
            <button type="submit" ng-click="vm.guardar(formulario.$valid)" class="blue-bottom button-4"><i class="fa fa-check" aria-hidden="true"></i><span >Guardar</span></button> 
            <a ng-click="vm.cancelar(vm.publicacion)" class="blue-bottom button-4"><i class="fa fa-times" aria-hidden="true"></i>Cancelar</a>
        </center>  
    </div>
  </div>
</div>

